
.pokemon .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.pokemon .header span{
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.pokemon .details {
    display: flex;
    flex-direction: row;
    font-size: 0.625rem;
}

.pokemon .details ol{
    border-radius: 1rem;

}

.pokemon .details .img{
    max-width: 100%;
    height: 100px;
}

.pokemons .details .types li{
    padding: 10;
    margin: 0;
    list-style: none;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #4ac799;
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr
    }
}